.item-container-my{
  display:flex;
}


.item-container{
  width: 75%
}
.user-container{
    width: 75%

}
.card{
  margin-left: 10px
}

.sort-conteiner{
  width: 20%;
  position: absolute;
  right: 2%
}

.dis-f{
  display:flex;
  justify-content:space-between;
}

.imagemy{
  width: 10px;
  height: 10px;
}
